name: Test iOS implementation
on: [push]
jobs:
  build:
    runs-on: macos-15
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 16.2
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Cache gradle
        uses: actions/cache@v4
        env:
          cache-name: cache-gradle
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            ~/.m2/repository
          key: iOS-${{ hashFiles('./gradle/libs.versions.toml', './gradle.properties', './gradle/wrapper/gradle-wrapper.properties') }}
      - name: Run UI tests
        run: |
          xcodebuild \
           -project iosApp/iosApp.xcodeproj \
           -scheme "ValeraUITests" \
           -destination "platform=iOS Simulator,name=iPhone 15" \
           test | xcpretty --report junit -o test-ios.xml
      - name: UI Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Wallet Tests on iOS
          path: test-ios.xml
          reporter: java-junit
      - name: Run shared tests
        run: ./gradlew :shared:iosSimulatorArm64Test
      - name: Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Shared tests
          path: shared/build/test-results/**/TEST*.xml
          reporter: java-junit
