name: Test Android implementation
on: workflow_dispatch
jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Run tests
        run: ./gradlew pixel2api33DebugAndroidTest
      - name: Test Report
        uses: dorny/test-reporter@v1
        if: success() || failure()
        with:
          name: Wallet Tests on Android
          path: shared/build/outputs/androidTest-results/managedDevice/debug/**/TEST*.xml
          reporter: java-junit
